name: Build iOS App

on:
  pull_request:
    paths:
      - "*.podspec"
      - "example/**"
      - "ios/**"
      - "example/ios/**"

jobs:
  build:
    name: Build iOS Example App
    runs-on: macOS-latest
    defaults:
      run:
        working-directory: example
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup
        with:
          project-path: example

      - name: Setup Ruby (bundle)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.5
          bundler-cache: false
          cache-version: 3

      - name: Restore Pods cache
        uses: actions/cache@v4
        with:
          path: |
            example/ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Gemfile
        run: |
          bundle install

      - name: Install Pods
        run: |
          cd ios
          bundle exec pod repo update --verbose
          bundle exec pod install

      - name: Build App
        run: |
          xcodebuild -project KeysExample.xcodeproj -sdk iphonesimulator -configuration Debug -arch arm64 build
          # yarn exec react-native build-ios --mode Debug
